{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h3>Вот что я умею</h3>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python: 2 спринта
      </li>
      <li class="list-group-item">
        Django: почти два спринта
      </li>
      <li class="list-group-item">
        CSS Diner: level 19
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Python 3.7 Django 2.2.19</p>
  </article>
</div>
{% endblock %} 
